
#div{
    height: 100px;
     width: 30%;
    display: flex;
    float: left;   
    margin: 10px;
    color: white;
    font-size: 24px;
    
    }

.blue{
    background: blue;
    
}
.yellow{
    background: yellow;

}
.red{
    background: red;

}